.headerWholePage{
    /* height: 100vh; */
    min-height: 100vh;
    display: grid;
    /* grid-template-rows: 10% 85%; */
    grid-gap: 20px;
}

.header,
.header:visited,
.header:active,
.header:hover {
  position: relative;
  background-color: #556c9c;
  height: 100px;
  /* max-height: 100px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 20%;
  padding-right: 20%;
  /* font-size: calc(10px + 2vmin); */
  font-size: 20px;
  color: rgb(235, 217, 217) !important;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
}

.dashboardLayout {
  /* background-color: #556c9c; */
  padding: 0% 20% 5% 20%;
  display: grid;
  /* grid-template-rows: 10% 45% 45%; */
  height: auto;
  /* height: 70vh; */
}

.dashboardDiv1, .informationPageDiv1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-height: 75px; */
  height: 75px;
  /* height: max-content; */
}

.dashboardDiv2, .dashboardDiv3, .informationPageDiv2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: auto; */
  height: max-content;
  min-height: 260px;
  margin: 30px 0px 30px 0px;
  /* background-color: #556c9c; */
  border: 1px solid #556c9c;
  border-radius: 90px;
  padding: 20px 30px 20px 30px;
  /* font-size: 20px;
  line-height: 1.8; */
  /* overflow-y: scroll; */
}

.informationPageLayout{
  position: relative;
  padding: 0% 20% 5% 20%;
  display: grid;
}
