.header, .header:visited, .header:active, .header:hover{
  background-color: #556c9c;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10%;
  padding-right: 10%;
  /* font-size: calc(10px + 2vmin); */
  font-size: 20px;
  color: rgb(235, 217, 217) !important;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: inherit;
}