.headerWholePage{
    /* height: 100vh; */
    min-height: 100vh;
    display: grid;
    grid-template-rows: max-content auto;
    grid-gap: 20px;
    /* background-color: #556c9c; */
    background-color: #b8cbf3;
}

.header,
.header:visited,
.header:active,
.header:hover {
  position: relative;
  /* background-color: #556c9c; */
  background-color: #e5bcfd;
  /* background-color: #72dfa1; */
  /* background-color: #ffff8b; */
  height: 100px;
  border-bottom: 1px solid black;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 20%;
  padding-right: 20%;
  /* font-size: calc(10px + 2vmin); */
  font-size: 20px;
  /* color: rgb(235, 217, 217) !important; */
  color: #000;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
}

.dashboardLayout {
  /* background-color: #556c9c; */
  padding: 0% 20% 5% 20%;
  display: grid;
  /* grid-template-rows: 10% 45% 45%; */
  height: auto;
  /* height: 70vh; */
}

.dashboardDiv1, .informationPageDiv1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-height: 75px; */
  height: 75px;
  /* height: max-content; */
}

.dashboardDiv2, .dashboardDiv3, .informationPageDiv2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  min-height: 260px;
  margin: 30px 0px 30px 0px;
  background-color: #e8f2f8;
  border: 1px solid #556c9c;
  border-radius: 90px;
  padding: 20px 30px 20px 30px;
  /* font-size: 20px;
  line-height: 1.8; */
  /* overflow-y: scroll; */
}

.informationPageLayout{
  position: relative;
  padding: 0% 20% 5% 20%;
  display: grid;
}

.testInformationPageLayout{
  position: relative;
  padding: 0% 20% 5% 20%;
  display: grid;
  grid-template-rows: max-content auto auto;
}

.testInformationPageButtonLayout{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: max-content;
  /* min-height: 260px; */
  margin: 30px 0px 30px 0px;
  padding: 20px 30px 20px 30px;
}

.showTestButton{
  background-color: #f5f5f5;
  height: 36px;
  min-width: 200px;
  width: 35%;
  padding: 30px !important;
  border: 2px solid #000;
  border-radius: 60px!important;
  font-size: 22px!important;
  cursor: pointer;

  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  font-weight: 500;
  letter-spacing: .0892857143em;
  justify-content: center;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-indent: 0.0892857143em;
  text-transform: uppercase;
  transition-duration: .28s;
  transition-property: box-shadow,transform,opacity;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.showTestButton:hover{
  background-color: #c4bfbf;
}
