.headerWholePage {
  /* height: 100vh; */
  min-height: 100vh;
  display: grid;
  /* grid-template-rows: 10% 85%; */
  grid-gap: 20px;
}

.header,
.header:visited,
.header:active,
.header:hover {
  position: relative;
  background-color: #9b111e;
  height: 100px;
  /* max-height: 100px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 15%;
  padding-right: 5%;
  /* font-size: calc(10px + 2vmin); */
  font-size: 20px;
  color: rgb(235, 217, 217) !important;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
}

.dashboardLayout {
  /* background-color: #556c9c; */
  padding: 0% 20% 5% 20%;
  display: grid;
  /* grid-template-rows: 10% 45% 45%; */
  height: auto;
  /* height: 70vh; */
}

.dashboardDiv1,
.informationPageDiv1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-height: 75px; */
  height: 75px;
  /* height: max-content; */
}

.dashboardDiv2,
.dashboardDiv3,
.informationPageDiv2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: auto; */
  height: max-content;
  min-height: 260px;
  margin: 30px 0px 30px 0px;
  /* background-color: #556c9c; */
  border: 1px solid #556c9c;
  border-radius: 90px;
  padding: 20px 30px 20px 30px;
  /* font-size: 20px;
  line-height: 1.8; */
  /* overflow-y: scroll; */
}

.informationPageLayout {
  position: relative;
  padding: 0% 20% 5% 20%;
  display: grid;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.innerForm {
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; */
}

.innerForm .form-group label {
  display: block;
  font-size: 20px;
  color: #666;
  margin-bottom: 5px;
}

.innerForm .form-group input {
  display: block;
  font-size: 20px;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.innerForm .form-group input::after {
  padding: 10px 15px;
}

.innerForm input[id="submit"] {
  display: inline-block;
  padding: 5px 5px;
  background-color: #556c9c;
  border-radius: 8px;
  background-position: center;
  font-size: 20px;
  position: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(235, 217, 217);
}

.loginDiv2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: auto; */
  height: max-content;
  min-height: 300px;
  margin: 15px 0px 15px 0px;
  /* background-color: #556c9c; */
  /*border: 1px solid #556c9c;*/
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  background-color: black;
  /* font-size: 20px;
  line-height: 1.8; */
  /* overflow-y: scroll; */
}

.loginDiv1 {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  /* max-height: 75px; */
  height: 40px;
  /* height: max-content; */
  z-index: 5;
  top: 0px;
  margin: 30% 30% 30% 30%;
}

.loginLayout {
  position: relative;
  padding: 0% 20% 5% 20%;
  display: inline-block;
  z-index: 5;
}

.innerForm link[id="signUpLink"] {
  color: red;
}

.header button {
  position: relative;
  background-color: #e6cfcf;
  /* max-height: 100px; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  display: relative;
  padding: 5px 5px;
  border-radius: 8px;
  background-position: center;
  font-size: 20px;
  display: flex;
  margin-left: 10%;
  margin-right: 0px;
}

.approvePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupInner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
}

.popupInner .closePopup {
  position: absolute;
  top: 16px;
  right: 16px;
}

.show {
  display: block;
  opacity: 1;
}

.show.active {
  opacity: 0;
}

/* Popup style */
.approve-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  border-radius: 3%;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
