.headerWholePage {
  /* height: 100vh; */
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content auto;
  grid-gap: 20px;
  /* background-color: #556c9c; */
  background-color: #b8cbf3;
}

.header,
.header:visited,
.header:active,
.header:hover {
  position: relative;
  /* background-color: #556c9c; */
  /* background-color: #e5bcfd; */
  background-color: #9b111e;
  /* background-color: #72dfa1; */
  /* background-color: #ffff8b; */
  height: 100px;
  border-bottom: 1px solid black;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10%;
  padding-right: 10%;
  /* font-size: calc(10px + 2vmin); */
  font-size: 20px;
  /* color: rgb(235, 217, 217) !important; */
  color: #000;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: inherit;
}

.dashboardLayout {
  /* background-color: #556c9c; */
  padding: 0% 20% 5% 20%;
  display: grid;
  /* grid-template-rows: 10% 45% 45%; */
  height: auto;
  /* height: 70vh; */
}

.dashboardDiv1,
.informationPageDiv1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-height: 75px; */
  height: 75px;
  /* height: max-content; */
}

.dashboardDiv2,
.dashboardDiv3,
.informationPageDiv2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  min-height: 260px;
  margin: 30px 0px 30px 0px;
  background-color: #e8f2f8;
  border: 1px solid #556c9c;
  /* border-radius: 90px; */
  border-radius: 80px;
  padding: 20px 30px 20px 30px;
  /* font-size: 20px;
  line-height: 1.8; */
  /* overflow-y: scroll; */
}

.informationPageLayout {
  position: relative;
  padding: 0% 20% 5% 20%;
  display: grid;
}

.testInformationPageLayout {
  position: relative;
  padding: 0% 20% 5% 20%;
  display: grid;
  grid-template-rows: max-content auto auto;
}

.testInformationPageButtonLayout {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: max-content;
  /* min-height: 260px; */
  margin: 30px 0px 30px 0px;
  padding: 20px 30px 20px 30px;
}

.showTestButton {
  background-color: #f5f5f5;
  height: 36px;
  min-width: 200px;
  width: 35%;
  padding: 30px !important;
  border: 2px solid #000;
  border-radius: 60px !important;
  font-size: 22px !important;
  cursor: pointer;

  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  justify-content: center;
  outline: 0;
  position: relative;
  text-decoration: none;
  text-indent: 0.0892857143em;
  text-transform: uppercase;
  transition-duration: 0.28s;
  transition-property: box-shadow, transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.showTestButton:hover {
  background-color: #cfcccc;
}

.showTestPageLayout {
  position: relative;
  padding: 0% 20% 5% 20%;
  display: grid;
  grid-template-rows: max-content auto;
}

.showTestDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* background-color: #E3F0E1; */
  background-color: #d6e8f1;
  /* background-color: #e8f2f8; */
  border: 1px solid #556c9c;
  align-items: center;
  height: max-content;
  /* min-height: 260px; */
  margin: 30px 0px 30px 0px;
  /* background-color: #e8f2f8; */
  /* border: 1px solid #556c9c; */
  /* border-radius: 90px; */
  border-radius: 40px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 0px 0px 20px 0px;
}

.partHeader {
  position: relative;
  /* background-color: #72dfa1; */
  background-color: #c4c4c4;
  border: 1px solid #556c9c;
  border-top: none;
  height: 40px;
  /* border: 1px solid black; */
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 20px;
  /* color: rgb(235, 217, 217) !important; */
  color: #000;
  margin-bottom: 20px;
}

.questionDetails {
  position: relative;
  background-color: #bdbbb8;
  height: max-content;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  border: 1px solid rgb(161, 160, 160);
  /* border-right: 1px solid #556c9c;
  border-left: 1px solid #556c9c; */
  padding-left: 20px;
  padding-right: 20px;
  /* width: calc(100% - 40px); */
  width: 100%;
  /* grid-template-columns: 80% 20%; */
  /* margin-bottom: 10px; */
}

.questionDetailsOnClick {
  background-color: #ceba9c;
  position: relative;
  display: grid;
  font-size: 18px;
  border: 1px solid rgb(161, 160, 160);
  /* border-right: 1px solid #556c9c;
  border-left: 1px solid #556c9c; */
  padding-left: 20px;
  padding-right: 20px;
  /* width: calc(100% - 40px); */
  width: 100%;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  min-height: 100px;
  height: max-content;
}

.questionDetailsTopRow {
  position: relative;
  background-color: #ceba9c;
  height: max-content;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.questionDetailsChoicesRow {
  margin-left: 20px;
  display: grid;
  grid-template-columns: 20% 80%
}

.questionDetailsChoices{
  display: grid;
  grid-template-rows: auto;
}

.editButton {
  height: 20px;
  width: 20px;
  background-color: #6781bb;
  border: #6781bb;
  border-radius: 50%;
  /* display: inline-block; */
}

.deleteButton {
  height: 20px;
  width: 20px;
  background-color: #bb6767;
  border: #bb6767;
  border-radius: 50%;
  /* display: inline-block; */
}

.questionButtonLayout {
  position: relative;
  /* padding: 0% 20% 5% 20%; */
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.innerForm {
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; */
}

.innerForm .form-group label {
  display: block;
  font-size: 20px;
  color: #666;
  margin-bottom: 5px;
}

.innerForm .form-group input {
  display: block;
  font-size: 20px;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.innerForm .form-group input::after {
  padding: 10px 15px;
}

.innerForm input[id="submit"] {
  display: inline-block;
  padding: 5px 5px;
  background-color: #556c9c;
  border-radius: 8px;
  background-position: center;
  font-size: 20px;
  position: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(235, 217, 217);
}

.loginDiv2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: auto; */
  height: max-content;
  min-height: 300px;
  margin: 15px 0px 15px 0px;
  /* background-color: #556c9c; */
  /*border: 1px solid #556c9c;*/
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  background-color: black;
  /* font-size: 20px;
  line-height: 1.8; */
  /* overflow-y: scroll; */
}

.loginDiv1 {
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  /* max-height: 75px; */
  height: 40px;
  /* height: max-content; */
  z-index: 5;
  top: 0px;
  margin: 30% 30% 30% 30%;
}

.loginLayout {
  position: relative;
  padding: 0% 20% 5% 20%;
  display: inline-block;
  z-index: 5;
}

.innerForm link[id="signUpLink"] {
  color: red;
}

.header button {
  position: relative;
  background-color: #e6cfcf;
  /* max-height: 100px; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  display: relative;
  padding: 5px 5px;
  border-radius: 8px;
  background-position: center;
  font-size: 20px;
  display: flex;
  margin-left: 10%;
  margin-right: 0px;
}

.approvePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupInner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
}

.popupInner .closePopup {
  position: absolute;
  top: 16px;
  right: 16px;
}

.show {
  display: block;
  opacity: 1;
}

.show.active {
  opacity: 0;
}

/* Popup style */
.approve-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  border-radius: 3%;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

/* Styles for Add Question Tool (Modal) */
/* .addQuestionModal {
  height: 500px;
} */
.modal-content {
  height: 80vh;
  align-self: center;
  border-radius: 20px !important;
  /* display: 'flex';
	justify-content: 'center';
	align-items: 'center'; */
  padding: 3%;
}

.modal-grid{
  display: grid;
  height: 100%;
  grid-template-rows: 10% auto auto 10%;
  grid-row-gap: 20px;
}
.modal-header{
  font-size: 25px;  
  border: none !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.modal-question-type {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-row-gap: 10px;
}

.add-question{
  margin-right: 0;
  margin-left: auto;
  width: 200px;
  height: 70%;
  background-color: #f57226;
  color:rgb(255, 255, 255);
  border-radius: 15px;
  border: none;
}

.header button[id="Profile"]{
  position: relative;
  background-color: #e6cfcf;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  display: relative;
  padding: 5px 5px;
  border-radius: 8px;
  background-position: center;
  font-size: 20px;
  display: flex;
  margin-left: 0%;
  margin-right: 0%;
}

.informationPageDiv2 button{
  position: center;
  padding: 5px 5px;
  background-color: #556c9c;
  border-radius: 8px;
  background-position: center;
  font-size: 20px;
  position: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(235, 217, 217);}