.headerWholePage {
  /* height: 100vh; */
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content auto;
  grid-gap: 20px;
  /* background-color: #556c9c; */
  background-color: #b8cbf3;
  
}

.header,
.header:visited,
.header:active,
.header:hover {
  position: relative;
  /* background-color: #556c9c; */
  /* background-color: #e5bcfd; */
  background-color: #9b111e;
  /* background-color: #72dfa1; */
  /* background-color: #ffff8b; */
  height: 150px;
  width: 100%;
  border-bottom: 1px solid black;
  max-height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* padding-left: 5%;
  padding-right: 5%; */
  /* font-size: calc(10px + 2vmin); */
  font-size: 30px;
  /* color: rgb(235, 217, 217) !important; */
  color: #000;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}


.FontSizeLayout button{
  position: relative;
  display: inline-block;;
  flex-direction: row;
}
